################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/template/content/Server/obj
/template/content/Server/bin
/template/content/.vs