@using Microsoft.Extensions.Options
@using Shop.Settings
@using Shop.Model
@inject IOptions<ApplicationConfigurations> Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <base href="/" />
    <link rel="stylesheet" href="~/styles.bundle.min.css" asp-append-version="true" />
    @if (Configuration.Value.EnableAppDynamicsEum)
    {
        <script>window['adrum-start-time'] = new Date().getTime();</script>
        <script src="/adrum.js"></script>
    }
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)

    <span class="version">@ProductVersion.InformationalVersion</span>
</body>
</html>
